<!-- Not Found -->
<div class="bg-[#EEF2F4] dark:bg-[#0a0e19] py-[30px] h-screen overflow-x-hidden">
    <div class="w-full h-full table">
        <div class="table-cell align-middle">
            <div class="mx-auto max-w-[960px] text-center">
                <img src="images/error.png" class="inline-block" alt="error-image">
                <h4 class="text-[19px] md:text-[21px] mt-[25px] md:mt-[33px] mb-[13px] text-[#484546]">
                    Oops! This page took a wrong turn.
                </h4>
                <p>
                    The page you're looking for doesn't exist or has been moved. While we try to track it down, you can
                    head back to safety.
                </p>
                <button routerLink="/"
                    class="px-6 py-2 text-[#484546] dark:text-[#eef2f4] border border-[#484546] dark:border-[#eef2f4] rounded-full hover:bg-[#484546] hover:text-white transition">
                    Back to home
                </button>
            </div>
        </div>
    </div>
</div>