<!-- Light/Dark Mode Button 
<button type="button" class="light-dark-toggle leading-none inline-block transition-all text-[#fe7a36] fixed top-2 sm:top-4 md:top-6 right-2 sm:right-4 md:right-6 z-50" (click)="toggleTheme()">
    <i class="material-symbols-outlined !text-base sm:!text-lg md:!text-xl lg:!text-2xl">{{ isDarkMode ? 'dark_mode' : 'light_mode' }}</i>
  </button>
  
  <Reset Password Popup 
  <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 px-2 sm:px-0" *ngIf="isResetPasswordPopupOpen" (click)="closeResetPasswordPopup()">
    <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 px-2 sm:px-0">
    <div class="bg-white dark:bg-[#0a0e19] rounded-xl shadow-2xl p-3 sm:p-4 md:p-6 lg:p-8 w-full max-w-[90vw] sm:max-w-xs md:max-w-sm lg:max-w-md xl:max-w-lg mx-auto animate-fade-in-up overflow-y-auto max-h-[90vh]" (click)="$event.stopPropagation()">
      <div class="flex justify-between items-center mb-3 sm:mb-4 md:mb-6">
        <h2 class="text-base sm:text-lg md:text-xl lg:text-2xl font-semibold text-gray-900 dark:text-white">Reset Password?</h2>
        <button type="button" class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200 transition-colors" (click)="closeResetPasswordPopup()">
          <i class="material-symbols-outlined text-base sm:text-lg md:text-xl">close</i>
        </button>
      </div>
      <p class="text-xs sm:text-sm md:text-base text-gray-600 dark:text-gray-400 mb-3 sm:mb-4 md:mb-6">
        Enter your new password and confirm it another time in the field below.
      </p>
      <form (ngSubmit)="onResetPasswordSubmit()">
        <div class="mb-2 sm:mb-3 md:mb-4 relative">
          <label class="block text-xs sm:text-sm md:text-base font-medium text-gray-900 dark:text-white mb-1 sm:mb-2">Old Password</label>
          <input [type]="isPassword1Visible ? 'text' : 'password'" [(ngModel)]="password1" name="password1" class="w-full py-1 sm:py-2 md:py-3 px-2 sm:px-3 md:px-4 rounded-md border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] text-gray-900 dark:text-white focus:ring-2 focus:ring-primary-500 outline-none transition-all text-xs sm:text-sm md:text-base" placeholder="Type old password" required>
          <button type="button" class="absolute right-2 sm:right-3 md:right-4 top-1/2 transform translate-y-1/4 text-gray-500 hover:text-primary-500 transition-colors" (click)="togglePassword1Visibility()">
            <i [ngClass]="isPassword1Visible ? 'ri-eye-line' : 'ri-eye-off-line'" class="text-base sm:text-lg md:text-xl"></i>
          </button>
        </div>
        <div class="mb-2 sm:mb-3 md:mb-4 relative">
          <label class="block text-xs sm:text-sm md:text-base font-medium text-gray-900 dark:text-white mb-1 sm:mb-2">New Password</label>
          <input [type]="isPassword2Visible ? 'text' : 'password'" [(ngModel)]="password2" name="password2" class="w-full py-1 sm:py-2 md:py-3 px-2 sm:px-3 md:px-4 rounded-md border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] text-gray-900 dark:text-white focus:ring-2 focus:ring-primary-500 outline-none transition-all text-xs sm:text-sm md:text-base" placeholder="Type new password" required>
          <button type="button" class="absolute right-2 sm:right-3 md:right-4 top-1/2 transform translate-y-1/4 text-gray-500 hover:text-primary-500 transition-colors" (click)="togglePassword2Visibility()">
            <i [ngClass]="isPassword2Visible ? 'ri-eye-line' : 'ri-eye-off-line'" class="text-base sm:text-lg md:text-xl"></i>
          </button>
        </div>
        <div class="mb-2 sm:mb-3 md:mb-4 relative">
          <label class="block text-xs sm:text-sm md:text-base font-medium text-gray-900 dark:text-white mb-1 sm:mb-2">Confirm Password</label>
          <input [type]="isPassword3Visible ? 'text' : 'password'" [(ngModel)]="password3" name="password3" class="w-full py-1 sm:py-2 md:py-3 px-2 sm:px-3 md:px-4 rounded-md border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] text-gray-900 dark:text-white focus:ring-2 focus:ring-primary-500 outline-none transition-all text-xs sm:text-sm md:text-base" placeholder="Confirm new password" required>
          <button type="button" class="absolute right-2 sm:right-3 md:right-4 top-1/2 transform translate-y-1/4 text-gray-500 hover:text-primary-500 transition-colors" (click)="togglePassword3Visibility()">
            <i [ngClass]="isPassword3Visible ? 'ri-eye-line' : 'ri-eye-off-line'" class="text-base sm:text-lg md:text-xl"></i>
          </button>
        </div>
        <button type="submit" class="w-full py-1 sm:py-2 md:py-3 px-2 sm:px-3 md:px-4 text-white bg-primary-500 rounded-md font-medium hover:bg-primary-400 transition-all text-xs sm:text-sm md:text-base">
          <span class="flex items-center justify-center gap-1 sm:gap-2">
            <i class="material-symbols-outlined text-base sm:text-lg md:text-xl">autorenew</i>
            Send
          </span>
        </button>
      </form>
      <p class="text-xs sm:text-sm md:text-base text-gray-600 dark:text-gray-400 mt-2 sm:mt-3 md:mt-4">
        Back to <a routerLink="/authentication" class="text-primary-500 hover:underline font-semibold">Sign In</a>
      </p>
    </div>
  </div>-->

<!-- Reset Password Page -->
<div class="min-h-screen flex flex-col items-center justify-center px-4 sm:px-6 lg:px-8">
  <div class="bg-white dark:bg-[#0a0e19] rounded-xl shadow-2xl p-6 sm:p-8 md:p-10 w-full 
  max-w-sm md:max-w-md lg:max-w-lg mx-auto">

    <div class="flex justify-between items-center mb-6">
      <h2 class="text-base sm:text-lg md:text-xl lg:text-2xl font-semibold text-gray-900 dark:text-white">Reset Password?</h2>
    </div>

    <p class="text-xs sm:text-sm md:text-base text-gray-600 dark:text-gray-400 mb-3 sm:mb-4 md:mb-6">
      Enter your new password and confirm it below.
    </p>

    <form (ngSubmit)="onResetPasswordSubmit()">
      <!-- Old Password -->
      <div class="mb-2 sm:mb-3 md:mb-4 relative">
        <label class="block text-xs sm:text-sm md:text-base font-medium text-gray-900 
        dark:text-white mb-1 sm:mb-2">Old Password</label>
        <input [type]="isPassword1Visible ? 'text' : 'password'" [(ngModel)]="password1" 
        name="password1" class="w-full h-[40px] sm:h-[44px] md:h-[48px] rounded-md text-sm 
        sm:text-base text-black dark:text-white border border-gray-200 
        dark:border-white bg-white dark:bg-[#0c1427] px-[10px] sm:px-[12px] 
        outline-0 transition-all placeholder:text-gray-500 
        dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Type old password" required>
        <button type="button" class="absolute right-2 sm:right-3 md:right-4 top-1/2 transform 
        translate-y-1/4 text-gray-500 hover:text-primary-500 transition-colors" 
        (click)="togglePassword1Visibility()">
          <i [ngClass]="isPassword1Visible ? 'ri-eye-line' : 'ri-eye-off-line'" 
          class="text-lg"></i>
        </button>
      </div>

      <!-- New Password -->
      <div class="mb-2 sm:mb-3 md:mb-4 relative">
        <label class="block text-xs sm:text-sm md:text-base font-medium text-gray-900 dark:text-white mb-1 sm:mb-2">New Password</label>
        <input [type]="isPassword2Visible ? 'text' : 'password'" [(ngModel)]="password2" 
        name="password2" 
        class="w-full h-[40px] sm:h-[44px] md:h-[48px] rounded-md text-sm 
        sm:text-base text-black dark:text-white border border-gray-200 
        dark:border-white bg-white dark:bg-[#0c1427] px-[10px] sm:px-[12px] 
        outline-0 transition-all placeholder:text-gray-500 
        dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Type new password" required>
        <button type="button" class="absolute right-2 sm:right-3 md:right-4 top-1/2 transform translate-y-1/4 text-gray-500 hover:text-primary-500 transition-colors" (click)="togglePassword2Visibility()">
          <i [ngClass]="isPassword2Visible ? 'ri-eye-line' : 'ri-eye-off-line'" class="text-lg"></i>
        </button>
      </div>

      <!-- Confirm Password -->
      <div class="mb-2 sm:mb-3 md:mb-4 relative">
        <label class="block text-xs sm:text-sm md:text-base font-medium text-gray-900 dark:text-white mb-1 sm:mb-2">Confirm Password</label>
        <input [type]="isPassword3Visible ? 'text' : 'password'" [(ngModel)]="password3" name="password3" 
        class="w-full h-[40px] sm:h-[44px] md:h-[48px] rounded-md text-sm 
        sm:text-base text-black dark:text-white border border-gray-200 
        dark:border-white bg-white dark:bg-[#0c1427] px-[10px] sm:px-[12px] 
        outline-0 transition-all placeholder:text-gray-500 
        dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Confirm new password" required>
        <button type="button" class="absolute right-2 sm:right-3 md:right-4 top-1/2 transform translate-y-1/4 text-gray-500 hover:text-primary-500 transition-colors" (click)="togglePassword3Visibility()">
          <i [ngClass]="isPassword3Visible ? 'ri-eye-line' : 'ri-eye-off-line'" class="text-lg"></i>
        </button>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="w-full py-3 px-4 text-white bg-primary-500 rounded-md font-medium hover:bg-primary-400 transition-all text-sm">
        <span class="flex items-center justify-center gap-2">
          <i class="material-symbols-outlined text-lg">autorenew</i>
          Send
        </span>
      </button>
    </form>

    <p class="text-sm text-gray-600 dark:text-gray-400 mt-4 text-center">
      Back to <a routerLink="/authentication" class="text-primary-500 hover:underline font-semibold">Sign In</a>
    </p>
    <div class="absolute -z-[1] ltr:-right-[30px] rtl:-left-[30px] bottom-[50px] blur-[150px]">
              <img src="images/front-pages/shape3.webp" alt="shape3">
          </div>
          <div class="absolute -z-[1] ltr:left-[25px] rtl:right-[25px] -top-[210px] blur-[125px]">
              <img src="images/front-pages/shape2.webp" alt="shape3">
          </div>
          <div class="absolute -z-[1] ltr:right-[260px] rtl:left-[260px] -top-[125px] blur-[75px]">
              <img src="images/front-pages/shape4.webp" alt="shape3">
          </div>
          <div class="absolute -z-[1] ltr:-left-[50px] rtl:-right-[50px] bottom-0 blur-[75px]">
              <img src="images/front-pages/shape5.webp" alt="shape3">
          </div>
  </div>
</div>

