<div class="sidebar-area bg-white dark:bg-[#0c1427] fixed overflow-hidden z-[7] top-0 h-screen transition-all rounded-r-md">
    <div class="logo bg-white dark:bg-[#0c1427] border-b border-gray-100 dark:border-[#172036] px-[25px] pt-[19px] pb-[15px] absolute z-[2] right-0 top-0 left-0">
        <a routerLink="/dashboard" class="transition-none relative flex items-center">
            <img src="images/logo-icon.svg" alt="logo-icon">
            <span class="font-bold text-black dark:text-white relative ltr:ml-[8px] rtl:mr-[8px] top-px text-xl">
                Trezo
            </span>
        </a>
        <button type="button" class="burger-menu inline-block absolute z-[3] top-[24px] ltr:right-[25px] rtl:left-[25px] transition-all hover:text-primary-500" id="hide-sidebar-toggle2">
            <i class="material-symbols-outlined">
                close
            </i>
        </button>
    </div>
    <ng-scrollbar visibility="hover" class="!h-screen">
        <div class="pt-[89px] px-[25px] pb-[20px]">
            <div class="accordion">
                <!--try to add a new suitable sidebar -->
                <span class="block relative font-medium uppercase text-gray-400 mb-[8px] text-xs">
                    Try
                </span>
                <!-- User Management-->
                <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
                    <button
                        class="accordion-button toggle flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[30px] rtl:pr-[14px] rtl:pl-[30px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]"
                        type="button"
                        (click)="toggleSection(12)"
                        [ngClass]="{ 'open': isSectionOpen(12) }"
                    >
                        <i class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px">
                            person
                        </i>
                        <span class="title leading-none">
                            Users
                        </span>
                    </button>
                    <div class="accordion-collapse" [ngClass]="{ 'open': isSectionOpen(12) }">
                        <div class="pt-[4px]">
                            <ul class="sidebar-sub-menu">
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Team Members
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/users/users-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Users List
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/users/add-user" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Add User
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Chat-->
                <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
                    <a routerLink="/dashboard/apps/chat" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="accordion-button flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[30px] rtl:pr-[14px] rtl:pl-[30px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]">
                        <i class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px">
                            chat
                        </i>
                        <span class="title leading-none">
                            Chat
                        </span>
                    </a>
                </div>
                <!-- Project Management-->
                <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
                    <button
                        class="accordion-button toggle flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[30px] rtl:pr-[14px] rtl:pl-[30px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]"
                        type="button"
                        (click)="toggleSection(6)"
                        [ngClass]="{ 'open': isSectionOpen(6) }"
                    >
                        <i class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px">
                            description
                        </i>
                        <span class="title leading-none">
                            Project Management
                        </span>
                    </button>
                    <div class="accordion-collapse" [ngClass]="{ 'open': isSectionOpen(6) }">
                        <div class="pt-[4px]">
                            <ul class="sidebar-sub-menu">
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/project-management-page" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Project Overview
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/project-management-page/projects-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Projects List
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/project-management-page/create-project" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Create Project
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/project-management-page/clients" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Clients
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/project-management-page/teams" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Teams
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/project-management-page/kanban-board" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Kanban Board
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/project-management-page/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Users
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Help Desk -->
                <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
                    <button
                        class="accordion-button toggle flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[30px] rtl:pr-[14px] rtl:pl-[30px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]"
                        type="button"
                        (click)="toggleSection(8)"
                        [ngClass]="{ 'open': isSectionOpen(8) }"
                    >
                        <i class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px">
                            support
                        </i>
                        <span class="title leading-none">
                            HelpDesk
                        </span>
                    </button>
                    <div class="accordion-collapse" [ngClass]="{ 'open': isSectionOpen(8) }">
                        <div class="pt-[4px]">
                            <ul class="sidebar-sub-menu">
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/helpdesk-page" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Tickets
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/helpdesk-page/ticket-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Ticket Details
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/helpdesk-page/agents" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Agents
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/helpdesk-page/reports" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Reports
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Events-->
                <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
                    <button
                        class="accordion-button toggle flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[30px] rtl:pr-[14px] rtl:pl-[30px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]"
                        type="button"
                        (click)="toggleSection(9)"
                        [ngClass]="{ 'open': isSectionOpen(9) }"
                    >
                        <i class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px">
                            local_activity
                        </i>
                        <span class="title leading-none">
                            Events
                        </span>
                    </button>
                    <div class="accordion-collapse" [ngClass]="{ 'open': isSectionOpen(9) }">
                        <div class="pt-[4px]">
                            <ul class="sidebar-sub-menu">
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/events" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Events Grid
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/events/events-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Events List
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/events/event-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Event Details
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/events/create-an-event" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Create An Event
                                    </a>
                                </li>
                                <li class="sidemenu-item mb-[4px] last:mb-0">
                                    <a routerLink="/dashboard/events/edit-an-event" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link rounded-md flex items-center relative transition-all font-medium text-gray-500 dark:text-gray-400 py-[9px] ltr:pl-[38px] ltr:pr-[30px] rtl:pr-[38px] rtl:pl-[30px] hover:text-primary-500 hover:bg-primary-50 w-full text-left dark:hover:bg-[#15203c]">
                                        Edit An Event
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-scrollbar>
</div>
