.card {
  perspective: 200rem;
  position: relative;
  // height: 100%;
  transform-style: preserve-3d;
}

.card__side {
  transition: all 0.8s ease;
  position: absolute;
  //width: 100%;
  //height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
}

.card__side--front {
  z-index: 2;
}

.card__side--back {
  transform: rotateY(180deg);
  background-color: #fff;
  color: #000;
  z-index: 1;
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}


