<!-- Page Banner -->
<div class="pt-[25px] md:pt-[45px] lg:pt-[85px] xl:pt-[95px] text-center">
  <div class="container 2xl:max-w-[1320px] mx-auto px-[12px] relative z-[1]">
    <h1 class="mb-0 leading-[1.2] text-[32px] md:text-[40px] lg:text-[50px] xl:text-[60px] -tracking-[.5px] md:-tracking-[1px] xl:-tracking-[1.5px]">
      Internship Portfolio
    </h1>
  </div>
</div>
<div class="pt-[30px] md:pt-[40px] lg:pt-[50px] xl:pt-[75px] mb-[60px]">
  <div class="container 2xl:max-w-[1320px] mx-auto px-[12px] relative z-[1]">
    <div class="md:max-w-[500px] lg:max-w-[630px] mb-[35px] md:mb-[50px] lg:mb-[65px] xl:mb-[90px]">
      <div class="inline-block relative mt-[10px] mb-[20px]">
        <span
          class="absolute top-[4.5px] w-[5px] h-[5px] ltr:-left-[3.6px] rtl:-right-[3.6px] bg-[#644a9e] -rotate-[6.536deg]"></span>
        <span
          class="absolute -top-[9.5px] w-[5px] h-[5px] ltr:right-0 rtl:left-0 bg-[#644a9e] -rotate-[6.536deg]"></span>
        <span
          class="inline-block relative text-[#644a9e] border border-[#644a9e] py-[5.5px] px-[17.2px] -rotate-[6.536deg]">
         Internship Portfolio
          <span
            class="absolute -bottom-[2.5px] w-[5px] h-[5px] ltr:-left-[3.5px] rtl:-right-[3.5px] bg-[#644a9e] -rotate-[6.536deg]"></span>
          <span
            class="absolute -bottom-[2.5px] w-[5px] h-[5px] ltr:-right-[3.5px] rtl:-left-[3.5px] bg-[#644a9e] -rotate-[6.536deg]"></span>
        </span>
      </div>
      <h2 class="mb-0 text-[24px] md:text-[28px] lg:text-[34px] xl:text-[36px] -tracking-[.5px] md:-tracking-[.6px] lg:-tracking-[.8px] xl:-tracking-[1px] leading-[1.2]">
       Check out our internship program guide for 2025 placements.
      </h2>
    </div>
    <!-- Navigation Tabs -->
    <div class="flex justify-center gap-6 mb-10 text-xl font-medium">
      <button #internshipTab class="relative pb-1">Internship</button>
      <button #pfeTab class="relative pb-1">PFE</button>
    </div>
    <!-- Content Area -->
    <div #contentArea>
      <!-- Internship Section (Default) -->
      <div #internshipContent class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-6 mb-6">
        <!-- Marketing Intern -->
        <div class="trezo-card bg-white border border-[#EEF2F4] dark:bg-[#0c1427] p-5 md:p-6 rounded-md">
          <div class="trezo-card-content">
            <div class="relative">
              <img src="images/Qode-Animated.gif" alt="logo" class="inline-block rounded-md" />
              <div class="absolute top-0 ltr:right-0 rtl:left-0 h-16 bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-2.5">
              <span class="text-[#0d8ed6] dark:text-white transition-all hover:text-primary-500">Marketing Intern</span>
            </h6>
            <p class="block text-sm font-medium mb-4">
              This internship involves creating and organizing content through photography, videography, and design tools like Canva and Photoshop, while supporting social media management, campaign strategy, and paid advertising. Success in this role requires attention to detail, the ability to manage deadlines independently, and a passion for impactful work.
            </p>
            <div class="flex items-center gap-2 mt-4 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Posting date: 09/05/2025</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">person</span>
              <span>Team members required: 2</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Duration: 08 weeks</span>
            </div>
            <div class="md:col-span-2 mt-4">
              <button routerLink="/apply-internship" type="button" class="inline-flex items-center gap-2 text-white bg-[#0d8ed6] hover:bg-[#0a75b1] px-8 py-2 rounded-md font-medium transition-all duration-300">
                <i class="material-symbols-outlined text-lg">send</i>
                Apply
              </button>
            </div>
          </div>
        </div>
        <!-- Graduate Associate Intern -->
        <div class="trezo-card bg-white border border-[#EEF2F4] dark:bg-[#0c1427] p-5 md:p-6 rounded-md">
          <div class="trezo-card-content">
            <div class="relative">
              <img src="images/Qode-Animated.gif" alt="logo" class="inline-block rounded-md" />
              <div class="absolute top-0 ltr:right-0 rtl:left-0 h-16 bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-2.5">
              <span class="text-[#0d8ed6] dark:text-white transition-all hover:text-primary-500">Graduate Associate Intern</span>
            </h6>
            <p class="block text-sm font-medium mb-4">
              This internship offers recent graduates or final-year students a hands-on role supporting project teams through research, policy analysis, and stakeholder coordination. Interns will help prepare reports, and dashboards, while contributing to implementation tracking, internal updates, and knowledge-sharing. Ideal candidates are analytical and detail-oriented, with strong communication skills and proficiency in Microsoft Office.
            </p>
            <div class="flex items-center gap-2 mt-4 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Posting date: 02/05/2025</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">person</span>
              <span>Team members required: 3</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Duration: 04 weeks</span>
            </div>
            <div class="md:col-span-2 mt-4">
              <button routerLink="/apply-internship" type="button" class="inline-flex items-center gap-2 text-white bg-[#0d8ed6] hover:bg-[#0a75b1] px-8 py-2 rounded-md font-medium transition-all duration-300">
                <i class="material-symbols-outlined text-lg">send</i>
                Apply
              </button>
            </div>
          </div>
        </div>
        <!-- Sales Intern -->
        <div class="trezo-card bg-white border border-[#EEF2F4] dark:bg-[#0c1427] p-5 md:p-6 rounded-md">
          <div class="trezo-card-content">
            <div class="relative">
              <img src="images/Qode-Animated.gif" alt="logo" class="inline-block rounded-md" />
              <div class="absolute top-0 ltr:right-0 rtl:left-0 h-16 bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-2.5">
              <span class="text-[#0d8ed6] dark:text-white transition-all hover:text-primary-500">Sales Intern</span>
            </h6>
            <p class="block text-sm font-medium mb-4">
              This internship places you at the center of the sales floor, where you'll welcome and assist French and international customers, master sales techniques, and help promote luxury products. You'll contribute to creating an exceptional shopping experience and building customer loyalty. Ideal candidates are dynamic, well-presented students with strong interpersonal skills, a passion for fashion and sales, and fluency in French and English.
            </p>
            <div class="flex items-center gap-2 mt-4 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Posting date: 02/09/2024</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">person</span>
              <span>Team members required: 4</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Duration: 06 weeks</span>
            </div>
            <div class="md:col-span-2 mt-4">
              <button routerLink="/apply-internship" type="button" class="inline-flex items-center gap-2 text-white bg-[#0d8ed6] hover:bg-[#0a75b1] px-8 py-2 rounded-md font-medium transition-all duration-300">
                <i class="material-symbols-outlined text-lg">send</i>
                Apply
              </button>
            </div>
          </div>
        </div>
        <!-- Data Scientist Intern -->
        <div class="trezo-card bg-white border border-[#EEF2F4] dark:bg-[#0c1427] p-5 md:p-6 rounded-md">
          <div class="trezo-card-content">
            <div class="relative">
              <img src="images/Qode-Animated.gif" alt="logo" class="inline-block rounded-md" />
              <div class="absolute top-0 ltr:right-0 rtl:left-0 h-16 bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-2.5">
              <span class="text-[#0d8ed6] dark:text-white transition-all hover:text-primary-500">Data Scientist Intern</span>
            </h6>
            <p class="block text-sm font-medium mb-4">
              This internship focuses on exploring Large Language Models and Agentic AI to delegate domain-specific workflows to intelligent agents. You'll test prompt engineering techniques, study model context protocols, and evaluate model routing in an on-premise environment. The role is ideal for engineering or Master’s students in geosciences with prior experience in data science or R&D, and solid knowledge in NLP, generative AI, and tools like HuggingFace, Transformers, and Smolagents.
            </p>
            <div class="flex items-center gap-2 mt-4 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Posting date: 02/05/2025</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">person</span>
              <span>Team members required: 1</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Duration: 24 weeks</span>
            </div>
            <div class="md:col-span-2 mt-4">
              <button routerLink="/apply-internship" type="button" class="inline-flex items-center gap-2 text-white bg-[#0d8ed6] hover:bg-[#0a75b1] px-8 py-2 rounded-md font-medium transition-all duration-300">
                <i class="material-symbols-outlined text-lg">send</i>
                Apply
              </button>
            </div>
          </div>
        </div>
        <!-- AI Intern -->
        <div class="trezo-card bg-white border border-[#EEF2F4] dark:bg-[#0c1427] p-5 md:p-6 rounded-md">
          <div class="trezo-card-content">
            <div class="relative">
              <img src="images/Qode-Animated.gif" alt="logo" class="inline-block rounded-md" />
              <div class="absolute top-0 ltr:right-0 rtl:left-0 h-16 bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-2.5">
              <span class="text-[#0d8ed6] dark:text-white transition-all hover:text-primary-500">AI Intern</span>
            </h6>
            <p class="block text-sm font-medium mb-4">
              This internship offers hands-on experience in developing AI models and algorithms. You'll contribute to designing, testing, and researching AI-powered solutions, while preparing technical reports and staying current with industry trends. Ideal candidates hold or pursue a degree in AI, computer science, or a related field, and possess strong Python skills, familiarity with AI frameworks like TensorFlow or HuggingFace, and solid analytical abilities. Teamwork, communication, and Git proficiency are also key to succeeding in this role.
            </p>
            <div class="flex items-center gap-2 mt-4 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Posting date: 12/01/2025</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">person</span>
              <span>Team members required: 2</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Duration: 48 weeks</span>
            </div>
            <div class="md:col-span-2 mt-4">
              <button routerLink="/apply-internship" type="button" class="inline-flex items-center gap-2 text-white bg-[#0d8ed6] hover:bg-[#0a75b1] px-8 py-2 rounded-md font-medium transition-all duration-300">
                <i class="material-symbols-outlined text-lg">send</i>
                Apply
              </button>
            </div>
          </div>
        </div>
        <!-- Global Media Intern -->
        <div class="trezo-card bg-white border border-[#EEF2F4] dark:bg-[#0c1427] p-5 md:p-6 rounded-md">
          <div class="trezo-card-content">
            <div class="relative">
              <img src="images/Qode-Animated.gif" alt="logo" class="inline-block rounded-md" />
              <div class="absolute top-0 ltr:right-0 rtl:left-0 h-16 bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-2.5">
              <span class="text-[#0d8ed6] dark:text-white transition-all hover:text-primary-500">Global Media Intern</span>
            </h6>
            <p class="block text-sm font-medium mb-4">
              This internship offers the opportunity to support paid media campaigns by creating advertising content, coordinating with global teams and external agencies, and helping manage invoices and campaign reporting. You'll gain hands-on experience in social media and display marketing within an international environment. Ideal candidates are proactive, detail-oriented students (Bac+4/5) in marketing or related fields, with strong Excel and PowerPoint skills, a good grasp of social media platforms, and fluent English communication.
            </p>
            <div class="flex items-center gap-2 mt-4 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Posting date: 13/04/2025</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">person</span>
              <span>Team members required: 1</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Duration: 12 weeks</span>
            </div>
            <div class="md:col-span-2 mt-4">
              <button routerLink="/apply-internship" type="button" class="inline-flex items-center gap-2 text-white bg-[#0d8ed6] hover:bg-[#0a75b1] px-8 py-2 rounded-md font-medium transition-all duration-300">
                <i class="material-symbols-outlined text-lg">send</i>
                Apply
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- PFE Section -->
      <div #pfeContent class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-6 mb-6 hidden">
        <!-- Data Scientist Intern -->
        <div class="trezo-card bg-white border border-[#EEF2F4] dark:bg-[#0c1427] p-5 md:p-6 rounded-md">
          <div class="trezo-card-content">
            <div class="relative">
              <img src="images/Qode-Animated.gif" alt="logo" class="inline-block rounded-md" />
              <div class="absolute top-0 ltr:right-0 rtl:left-0 h-16 bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-2.5">
              <span class="text-[#0d8ed6] dark:text-white transition-all hover:text-primary-500">Data Scientist Intern</span>
            </h6>
            <p class="block text-sm font-medium mb-4">
              This internship focuses on exploring Large Language Models and Agentic AI to delegate domain-specific workflows to intelligent agents. You'll test prompt engineering techniques, study model context protocols, and evaluate model routing in an on-premise environment. The role is ideal for engineering or Master’s students in geosciences with prior experience in data science or R&D, and solid knowledge in NLP, generative AI, and tools like HuggingFace, Transformers, and Smolagents.
            </p>
            <div class="flex items-center gap-2 mt-4 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Posting date: 02/05/2025</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">person</span>
              <span>Team members required: 1</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Duration: 24 weeks</span>
            </div>
            <div class="md:col-span-2 mt-4">
              <button routerLink="/apply-internship" type="button" class="inline-flex items-center gap-2 text-white bg-[#0d8ed6] hover:bg-[#0a75b1] px-8 py-2 rounded-md font-medium transition-all duration-300">
                <i class="material-symbols-outlined text-lg">send</i>
                Apply
              </button>
            </div>
          </div>
        </div>
        <!-- AI Intern -->
        <div class="trezo-card bg-white border border-[#EEF2F4] dark:bg-[#0c1427] p-5 md:p-6 rounded-md">
          <div class="trezo-card-content">
            <div class="relative">
              <img src="images/Qode-Animated.gif" alt="logo" class="inline-block rounded-md" />
              <div class="absolute top-0 ltr:right-0 rtl:left-0 h-16 bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-2.5">
              <span class="text-[#0d8ed6] dark:text-white transition-all hover:text-primary-500">AI Intern</span>
            </h6>
            <p class="block text-sm font-medium mb-4">
              This internship offers hands-on experience in developing AI models and algorithms. You'll contribute to designing, testing, and researching AI-powered solutions, while preparing technical reports and staying current with industry trends. Ideal candidates hold or pursue a degree in AI, computer science, or a related field, and possess strong Python skills, familiarity with AI frameworks like TensorFlow or HuggingFace, and solid analytical abilities. Teamwork, communication, and Git proficiency are also key to succeeding in this role.
            </p>
            <div class="flex items-center gap-2 mt-4 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Posting date: 12/01/2025</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">person</span>
              <span>Team members required: 2</span>
            </div>
            <div class="flex items-center gap-2 mt-3 text-sm font-medium text-[#061e2f] dark:text-gray-300">
              <span class="material-symbols-outlined text-xl">calendar_today</span>
              <span>Duration: 48 weeks</span>
            </div>
            <div class="md:col-span-2 mt-4">
              <button routerLink="/apply-internship" type="button" class="inline-flex items-center gap-2 text-white bg-[#0d8ed6] hover:bg-[#0a75b1] px-8 py-2 rounded-md font-medium transition-all duration-300">
                <i class="material-symbols-outlined text-lg">send</i>
                Apply
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pagination -->
    <div class="trezo-card mb-6 p-5 md:p-6 rounded-md">
      <div class="trezo-card-content">
        <div class="flex items-center justify-between">
          <p class="mb-0" #paginationText>Showing 6 of 6 results</p>
        </div>
      </div>
    </div>
  </div>
</div>